@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');



.titlework{
      
    background-color: #ffffff;
    height: 10px;
    color: rgb(0, 0, 0);
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  

}

.photoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
width: 80%;

height: 50px;
margin-top: 5%;
perspective: 1000px;
}
.contentimg{
    width: 70%;
    /* transform: rotateX(30deg) rotateY(30deg); */
    transition: all 0.15s ease-out;
}
.photo{
    width: 100%;

    border-radius: 40%;
    border-top-left-radius: 60%;
    margin-bottom: 8%;
    border: solid 3px black;
    box-shadow: 11px 2px 20px 12px #00000057;
}
.main {
    background-image: linear-gradient(63deg, rgba(15, 24, 42, 0) -10%, #427ba47b 46%, rgb(15, 24, 42) 100%), url("../public/fond\ cv.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1100px;
}

.contentContainer{

    padding-right: 10%;
    margin-top: 8%;
    display: flex;
    position: relative;
    height: 700px;

    align-items: center;
    justify-content: center;

}

.pContainer{
    background-color:#427AA4;
    width: 800px;
    height: 550px;
    border-radius: 2%;
    box-shadow: 11px 2px 20px 12px #00000057;
    
}



.p{
    width: 85%;
    font-family: "Source Code Pro", monospace;
    padding: 8%
    
    
    ;
    font-size: 18px;
}

.titre{
    font-family: "Lexend";
    position: absolute;
    top:5.5%;
    left: 65%;
    font-size: 50px;
    color: white;
}

.links{

    display: flex;
 margin-top: 0%;
 padding-bottom: 6%;
 margin-left: 4%;
 
   
    
}

.git{
    background-color: rgba(0, 0, 0, 0.974);
    border-radius: 50%;
    width: fit-content;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 15px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;


}

.git:hover{
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 15px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capsule{
    border-radius: 50%;
    width: 20px;
 
}

.icons{
    color: rgb(231, 231, 231);

    width: 20px;
    opacity: 1;



}

@media (max-width: 1813px) {
    .titre{
        font-family: "Lexend";
        position: absolute;
        top:5.5%;
        left: 62%;
        font-size: 50px;
        color: white;
    }
    
}


@media (max-width: 1609px) {
    .titre{
        font-family: "Lexend";
        position: absolute;
        top:5.5%;
        left: 59%;
        font-size: 50px;
        color: white;
    }
    
}
@media (max-width: 1457px) {
    .titre{
        font-family: "Lexend";
        position: absolute;
        top:13.9%;
        left: 61%;
        font-size: 40px;
        color: white;
    }
    .pContainer{
        background-color:#427AA4;
        width: 700px;
        height: 450px;
        border-radius: 2%;
        box-shadow: 11px 2px 20px 12px #00000057;
        
    }
    .p{
        width: 85%;
        font-family: "Source Code Pro", monospace;
        padding: 8%
        
        
        ;
        font-size: 14px;
    }
    
    
}

@media (max-width: 1300px) {
    .main {
        background-image:  url("../public/fond\ cv.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1100px;
    }
    
    .contentContainer{
    
        padding-right: 0%;
        margin-top: 0%;
        display: flex;
        position: relative;
        height: 700px;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .pContainer{
        background-color:#427AA4;
        width: 300px;
        height: 480px;
        border-radius: 2%;
        box-shadow: 11px 2px 20px 12px #00000057;
        
    }
    
    
    
    .p{
        width: 85%;
        font-family: "Source Code Pro", monospace;
        padding: 8%
        
        
        ;
        font-size: 13px;
    }
    .titre{
        font-family: "Lexend";
        position: absolute;
        top:13%;
        left: 29%;
        font-size: 25px;
        color: white;
    }
    .photoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    width: 100%;
    position: absolute;
    height: 50px;
    margin-top: 8%;
    bottom: -24%;

    perspective: 1000px;
    }
    .contentimg{
        width: 80%;
        /* transform: rotateX(30deg) rotateY(30deg); */
        transition: all 0.15s ease-out;
    }
    .photo{
        width: 100%;
    
        border-radius: 40%;
        border-top-left-radius: 60%;
        margin-bottom: 8%;
        border: solid 3px black;
        box-shadow: 11px 2px 20px 12px #00000057;
    }
    .links{

        display: flex;
      
     margin-top: 0%;
     padding-bottom: 6%;
     margin-left: 1%;
       
        
    }
    .git{
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        width: fit-content;
        padding: 5px;
        padding-left: 13px;
        padding-right: 13spx;
        margin-left: 10px;
        font-size: 8px;
        color: white;
        cursor: pointer;
        height: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .capsule{
        border-radius: 50%;
        width: 14px;
        margin-left: 8px;
    }
   
}