@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');



.titlework{
      
    background-color: #ffffff;
    height: 10px;
    color: rgb(0, 0, 0);
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
  

}

.photoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
width: 80%;


margin-top: 15%;
perspective: 1000px;
}
.contentimg{
    width: 70%;
    /* transform: rotateX(30deg) rotateY(30deg); */
    transition: all 0.15s ease-out;
}

.contentLeft{
    background-color:#427AA4;
    width: 550px;
    height:fit-content;
    font-family: "Source Code Pro", monospace;
    border-radius: 2%;
    box-shadow: 11px 2px 20px 12px #00000057;
    font-size: 22px;
    position: relative;
    border-top-left-radius: 15%;
    

}
.pleft{
    width: 80%;
    font-family: "Source Code Pro", monospace;
    padding: 10%
    
    
    ;
 
    font-size: 18px;
}
.t{
    font-family: "Lexend";
    position: absolute;
    top:-5.8%;
    left: 52%;
    font-size: 40px;
    color: white;
}
.photo{
    width: 100%;

    border-radius: 40%;
    border-top-left-radius: 60%;
    margin-bottom: 8%;
    border: solid 3px black;
    box-shadow: 11px 2px 20px 12px #00000057;
}
.main {
    background-image: linear-gradient(63deg, rgba(15, 24, 42, 0) -10%, #427ba47b 46%, rgb(15, 24, 42) 100%), url("../public/ho.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1100px;
}

.contentContainer{

    padding-right: 10%;
    margin-top: 8%;
    display: flex;
    position: relative;
    height: 700px;

    align-items: center;
    justify-content: center;

}

.pContainer{
    background-color:#427AA4;
    width: 800px;
    height: 550px;
    border-radius: 2%;
    box-shadow: 11px 2px 20px 12px #00000057;
    border-bottom-right-radius: 15%;
    
}



.p{
    width: 85%;
    font-family: "Source Code Pro", monospace;
    padding: 8%
    
    
    ;
    padding-top: 15%;
    font-size: 18px;
    position: relative;
}

.titre{
    font-family: "Lexend";
    position: absolute;
    top:-8.2%;
    left: 23%;
    font-size: 50px;
    color: white;
}

.links{

    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 0%;
 padding-bottom: 6%;

 
   
    
}

.git{
  
    width: fit-content;
    padding: 15px;
   
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;

}


.git2{
  
    width: fit-content;
    padding: 15px;
   
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;


}

.cv{
    width: fit-content;
    padding: 10px;
   border: black 3px solid;
   border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
 
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 17px;
    transition: 0.5s ease-in-out;
}
.cv:hover{
    width: fit-content;
    padding: 10px;
   border: rgba(255, 255, 255, 0.721) 3px solid;
   border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.746);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.388);
}

.icons{
    color: rgb(0, 0, 0);

    width: 40px;
    opacity: 1;
    transition: 0.5s ease-in-out;


}
.hello{
    font-size: 35px;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: rotateCube infinite linear 3s;

}
@keyframes rotateCube {
    0% {
      transform: rotateZ(-5deg);
   
    
    }
    50% {
        transform: rotateZ(20deg);
      
      
      
      }
  
   
    100% {
      transform: rotateZ(-5deg);
    
    
    
    }
  
  }
.icons:hover{
    color: rgba(255, 255, 255, 0.718);

    width: 40px;
    opacity: 1;
    transition: 0.2s ;


}

.icons2{
   
margin-right: 10px;
    width: 30px;
    opacity: 1;



}

@media (max-width: 1440px) {
 

    .icons{
        color: rgb(0, 0, 0);
    
        width: 35px;
        opacity: 1;
        transition: 0.5s ease-in-out;
    
    
    }
    .cv{
        width: fit-content;
        padding: 10px;
       border: black 3px solid;
       border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
     
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 13px;
        transition: 0.5s ease-in-out;
    }
    .cv:hover{
        width: fit-content;
        padding: 10px;
       border: rgba(255, 255, 255, 0.721) 3px solid;
       border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.746);
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ;
        font-size: 17px;
        background-color: rgba(0, 0, 0, 0.388);
    }
    .titre{
     
        font-size: 40px;
    
    }
    .pContainer{
        background-color:#427AA4;
        width: 700px;
        height: 450px;
        border-radius: 2%;
        box-shadow: 11px 2px 20px 12px #00000057;
        
    }
    .p{
        width: 85%;
        font-family: "Source Code Pro", monospace;
        padding: 8%;
        padding-top:15%;
        
        
        ;
        font-size: 14px;
    }
    
    
}
.contentLeft{
    background-color:#427AA4;
    width: 550px;
    height:fit-content;
    font-family: "Source Code Pro", monospace;
    border-radius: 2%;
    box-shadow: 11px 2px 20px 12px #00000057;
    font-size: 22px;
    position: relative;
    border-top-left-radius: 15%;
    

}
.pleft{
    width: 80%;
    font-family: "Source Code Pro", monospace;
    padding: 10%
    
    
    ;
 
    font-size: 18px;
}
.t{
    font-family: "Lexend";
    position: absolute;
    top:-5.8%;
    left: 52%;
    font-size: 35px;
    color: white;
}

@media (max-width: 1300px) {
    .contentLeft{
        background-color:#427AA4;
        width: 85%;
        height:fit-content;
        font-family: "Source Code Pro", monospace;
        border-radius: 2%;
        box-shadow: 11px 2px 20px 12px #00000057;
        font-size: 20px;
        position: relative;
        border-top-left-radius: 15%;
        margin-bottom: 15%;
        
        
    
    }
    .pleft{
        width: 80%;
        font-family: "Source Code Pro", monospace;
        padding: 10%
        
        
        ;
     
        font-size: 14px;
    }
    .t{
        font-family: "Lexend";
        position: absolute;
        top:-3.7%;
        left: 52%;
        font-size: 25px;
        color: white;
    }
    .hello{
        font-size: 25px;
        position: absolute;
        top: 2%;
        left: 5%;
        animation: rotateCube infinite linear 3s;
    
    }
    .main {
        background-image:  url("../public/ho.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 1100px;
    }
    
    .contentContainer{
    
        padding-right: 0%;
        margin-top: 0%;
        display: flex;
        position: relative;
        height: 700px;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .pContainer{
        background-color:#427AA4;
        width: 85%;
        height: 400px;
        border-radius: 2%;
        box-shadow: 11px 2px 20px 12px #00000057;
        
    }
    
    
    
    .p{
        width: 85%;
        font-family: "Source Code Pro", monospace;
        padding: 8%
        
        
        ;
        padding-top: 12%;
        font-size: 13px;
    }
    .titre{
        font-family: "Lexend";
        position: absolute;
        top:-5.8%;
    left: 30%;
        font-size: 25px;
        color: white;
    }
    .photoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    width: 100%;
    position: absolute;
    height: 50px;
    margin-top: 8%;
    bottom: -24%;

    perspective: 1000px;
    }
    .contentimg{
        width: 80%;
        /* transform: rotateX(30deg) rotateY(30deg); */
        transition: all 0.15s ease-out;
    }

    .links{

        display: flex;
      
     margin-top: 0%;
     padding-bottom: 6%;
     margin-left: 1%;
       
        
    }
    .git{
       
        border-radius: 20px;
        width: fit-content;
        padding: 5px;
        padding-left: 13px;
        padding-right: 13spx;
        margin-left: 10px;
        font-size: 8px;
        color: white;
        cursor: pointer;
        height: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
   
}