/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono&display=swap'); */

.main {

position: relative;

display: grid;
grid-template-columns: 60% 40%;
grid-template-rows: 55% 45%;
width: 100%;
height: 100vh;
background-image: linear-gradient(63deg,rgb(15, 24, 42) -10%, #427ba4 46%, #0f182afa 100%);
  
}


.bioContainer{
grid-row-start: 1 ;
grid-row-end: 3;
grid-column-start:2 ;
grid-column-end: 3;
position: relative;
padding-top: 25%;
padding-left: 15%;
margin-left: 10%;
}

.titleContainer{
    grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 2;
 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18%;
    padding-top: 10%;


}

.languageContainer{
    grid-row-start: 2 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 2;

    display: flex;
    padding-left: 18%;
}

.scroll{
  width: 120px;
  height:30px;
border-radius: 20px;
background-color: rgb(80, 150, 150);
  animation: laby 2s ease-in infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: smaller;
  box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.081);
  margin-top:120px;
  padding: 2px;
  
 
}
.scrollcontainer{
  position: absolute;
  height: 290px;
  left:30%;
 top: 70%;

}
.imgcontainer{
  position: relative;
}
@keyframes laby {
  0%{

  
  }100%{
      transform: translateY(60px);
      
  }
}

.photo{

    border: solid;
    width: 55%;
    height: 50%;

    margin-top: 10px;
    z-index: 1;
    border-radius: 5px;
  
}
.poly{

  width: 55%;

  height: 100%;
 background-color: #00000024;
  position: absolute;
  top: 0%;
  transform: translateX(5px) rotate(12deg);
  border-radius: 5px;
  z-index: 0;
}
.p{
    font-family: "Source Code Pro", monospace;
    color: white;
margin-top: 8%;
font-size: 18px;
    width: 65%;
    
}

.list{
    font-family: "Source Code Pro", monospace;
    color: white;
    list-style:none;
    margin: 0px;
    margin-top: 8%;
    padding: 0%;
}
.hexagon {
    width: 100px;
    height: 100px;
    background: conic-gradient(from 0deg at 50% 50%, blue 0deg 360deg);
    -webkit-mask-image: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    mask-image: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
.h1Style{

  font-size: 80px;
  font-weight: bold;
  text-align: left;
  padding: 0px;
  margin: 0px;
 
  letter-spacing: -5px;
  background: linear-gradient(196deg,#0F182A  ,#142c31);
  -webkit-background-clip: text;
  color: transparent;
  
  font-family: "Lexend";
}




.subtitle{
  color: white;
  font-size: 20px;
  font-weight: 10;
  margin: 0px;
  padding-bottom: 30px;
  margin-left: 0%;
  margin-bottom: 0px;
  font-family: "Source Code Pro", monospace;
  margin-left: 8px;
  padding-bottom: 10px;
  

}
.subtitleName{
  color: white;
  font-size: 50px;
  font-weight: 300;
  margin-left: 6px;
  font-weight: bold;
  
  

  font-family: "Lexend", sans-serif;
  
}

.lang{
  display: flex;
  margin-top: 50px;
}





  .logo{
    width:100%
    
  
  }

  .logocss{
    width:79%;
    
    margin-left: 6px;
  
  }

.cards1{
  display: flex;
}
.cards2{
  display: flex;
}

  .card{
    width: 60px;
    height: 60px;
    background-color: rgba(137, 135, 135, 0.907);
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition:  0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
.logoex{
  width: 180%;
}

.logomongo{
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
  .cardcontainer{
    width: 90px;
    height: 90px;
    margin: 5px;
   
  }
  /* .cardcontainer:hover{
    width: 110px;
    height: 120px;
    transition: all 1s ease;
    -webkit-transition:  0.6s;
  } */
 
 .li{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
 }
 .iconBio{
  margin-right: 15px;
  width: 20px;
 }

  .cardcontainer:hover .card{
    width: 80px;
    height:80px;
    transition: all 1s ease;
   transform: translateY(30px) translateX(-10px);
   
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-transition:  0.6s;
  }

.scroll{
  width: 120px;
  height:30px;
border-radius: 20px;
background-color: rgb(80, 150, 150);
  animation: laby 2s ease-in infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: smaller;
  box-shadow: 12px 12px 16px 0px rgb(0 0 0 / 71%);
  margin-top:120px;
  padding: 2px;
  
 
}

@keyframes laby {
  0%{

  
  }100%{
      transform: translateY(60px);
      
  }
}
.doodled{
  position: absolute;
  width: 40px;
  height: 40px;

  border: solid 2px rgb(15, 24, 42);
  top: 25%;
  left: 49%;
  animation: rotateCube 7s infinite linear;
  transition: 2.5s ease-in-out;

}
.doodlea{
  position: absolute;
  width: 30px;
  height: 30px;

  border: solid 2px rgb(15, 24, 42);
  top: 28%;
  left: 55%;
  animation: rotateCube 7s infinite linear;
  transition: ease-out;
  animation-delay: 0.5s;
  transition: 2.5s ease-in-out;

}

.doodleb{
  position: absolute;
  width: 20px;
  height: 20px;

  border: solid 2px rgb(15, 24, 42);
  top: 33%;
  left: 59.5%;
  animation: rotateCube 7s infinite linear;
  animation-delay: 1s;
  transition: 2.5s ease-in-out;

}
.doodlec{
  position: absolute;
  width: 10px;
  height: 10px;

  border: solid 2px rgb(15, 24, 42);
  top: 40%;
  left: 61.5%;
  animation: rotateCube 7s infinite linear;
  animation-delay: 1.5s;
  transition: 2.5s ease-in-out;

}

.doodlee{
  position: absolute;
  width: 5px;
  height: 5px;

  border: solid 2px rgb(15, 24, 42);
  top: 46%;
  left: 62%;
  animation: rotateCube 7s infinite linear;
  animation-delay: 2s;
  transition: 1.5s ease-in-out;

}
.doodlea:hover{
  width: 35px;
  height: 35px;
  transition: 0.2s ease-in-out;

  border: solid 2px rgba(255, 255, 255, 0.557);
}
.doodleb:hover{
  width: 25px;
  height: 25px;
  transition: 0.2s ease-in-out;

  border: solid 2px rgba(255, 255, 255, 0.557);
}
.doodlec:hover{
  width: 15px;
  height: 15px;
  transition: 0.2s ease-in-out;

  border: solid 2px rgba(255, 255, 255, 0.557);
}
.doodled:hover{
  width: 45px;
  height: 45px;
  transition: 0.2s ease-in-out;
 
  border: solid 2px rgba(255, 255, 255, 0.557);
}
.doodlee:hover{
  width: 5px;
  height: 5px;
  transition: 0.2s ease-in-out;
 
  border: solid 2px rgba(255, 255, 255, 0.997);
}
@keyframes rotateCube {
  0% {
    transform: rotateZ(0deg);
  border-radius: 0px;
  background-color: rgba(15, 24, 42, 0);
  
  }

  20% {
    transform: rotateZ(90deg);
    border-radius: 30px;
    background-color: rgba(15, 24, 42, 0.79);

  
  
  }
  40% {
    transform: rotateZ(180deg);
    border-radius: 30px;
    background-color: rgb(15, 24, 42);
  
  
  }
  100% {
    transform: rotateZ(0);
    
    border-radius: 0px;
  
  }
}
@media (max-width: 1813px) {
  .subtitle{
    color: white;
    font-size: 17px;
    font-weight: 10;
    margin: 0px;
    padding-bottom: 30px;
    margin-left: 0%;
    margin-bottom: 0px;
    font-family: "Source Code Pro", monospace;
    margin-left: 8px;
    padding-bottom: 10px;
    
  
  }
  .subtitleName{
    color: white;
    font-size: 45px;
    font-weight: 300;
    margin-left: 6px;
    font-weight: bold;
    
    
  
    font-family: "Lexend", sans-serif;
    
  }

  .h1Style{

    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin: 0px;
   
    letter-spacing: -5px;
    background: linear-gradient(196deg,#0F182A  ,#142c31);
    -webkit-background-clip: text;
    color: transparent;
    
    font-family: "Lexend";
  }

  .cardcontainer{
  
      width: 90px;
      height: 90px;
      margin: 4px;
     
    }
    .bioContainer{
      grid-row-start: 1 ;
      grid-row-end: 3;
      grid-column-start:2 ;
      grid-column-end: 3;
      position: relative;
      padding-top: 25%;
      padding-left: 20%;
      margin-left: 5%;
      }


      .card{
        width: 50px;
        height: 50px;
        background-color: rgba(137, 135, 135, 0.907);
        margin: 5px;
        border-radius: 20px;
        padding: 10px;
        -webkit-transition:  0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
       
      
      }
      .titleContainer{
        grid-row-start: 1 ;
        grid-row-end: 2;
        grid-column-start:1 ;
        grid-column-end: 2;
     
        height: 110%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 18%;
        padding-top: 10%;
    
    
    }
    
  }


@media (max-width: 1484px) {
  .card{
    width: 40px;
    height: 40px;
    background-color: rgba(137, 135, 135, 0.907);
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition:  0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }

  .cardcontainer{
  
    width: 90px;
    height: 90px;
    margin: 3px;
   
  }
  .bioContainer{
    grid-row-start: 1 ;
    grid-row-end: 3;
    grid-column-start:2 ;
    grid-column-end: 3;
    position: relative;
    padding-top: 25%;
    padding-left: 20%;
    margin-left: 8%;
    }
    .subtitle{
      color: white;
      font-size: 15px;
      font-weight: 10;
      margin: 0px;
      padding-bottom: 30px;
      margin-left: 0%;
      margin-bottom: 0px;
      font-family: "Source Code Pro", monospace;
      margin-left: 8px;
      padding-bottom: 10px;
      
    
    }
    .subtitleName{
      color: white;
      font-size: 40px;
      font-weight: 300;
      margin-left: 6px;
      font-weight: bold;
      
      
    
      font-family: "Lexend", sans-serif;
      
    }
  
    .h1Style{
  
      font-size: 60px;
      font-weight: bold;
      text-align: left;
      padding: 0px;
      margin: 0px;
     
      letter-spacing: -5px;
      background: linear-gradient(196deg,#0F182A  ,#142c31);
      -webkit-background-clip: text;
      color: transparent;
      
      font-family: "Lexend";
    }
    .p{
      font-family: "Source Code Pro", monospace;
      color: white;
  margin-top: 12%;
  font-size: 14px;
      width: 65%;
      
  }
  
  .list{
      font-family: "Source Code Pro", monospace;
      color: white;
      list-style:none;
      margin: 0px;
      margin-top: 8%;
      font-size: 12px;
      padding: 0%;
  }
}

@media (max-width: 1484px) {
  .doodled{
    position: absolute;
    width: 40px;
    height: 40px;
  
    border: solid 2px rgb(15, 24, 42);
    top: 25%;
    left: 49%;
    animation: rotateCube 7s infinite linear;
    transition: 2.5s ease-in-out;
  
  }
  .doodlea{
  
    display: none;
  
  }
  
  .doodleb{
    display: none;
  
  }
  .doodlec{
    display: none;
  
  }
  .doodled{
    display: none;
  
  }
  
  .doodlee{
    display: none;
  
  }
}
