body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(63deg, #509696 30%, #305977 46%, #0f182a 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  

    

}
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}