.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(110deg, #427ba4  50%, #427ba4 50%, #2E445C 40%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 
}
@keyframes fade-in{
    from{scale: .6; opacity:0;}
    to{scale: 1;opacity:1}
}
.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.titlework{
    
    background-color: #ffffff;
    height: 10px;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.portfolio{
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 35px;
    margin-top: 5%;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img{
    width: 95%;

}
.link1{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    padding-left: 15px;
    padding-right: 15px;
    
   
  }
  .link1:hover{
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    padding-left: 15px;
    padding-right: 15px;
 
 
   
  }

  .link2{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    right: 4%;
    padding-left: 15px;
    padding-right: 15px;   
    
   
  }
  .link2:hover{
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    right: 4%;
    padding-left: 15px;
    padding-right: 15px; 
   
  }

  .link3{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    left: 4%;
    padding-left: 15px;
    padding-right: 15px;   
  }
  .link3:hover{
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: -15%;
    left: 4%;
    padding-left: 15px;
    padding-right: 15px;   
  }

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
    margin-right: 15px;
  }
  .triangle2 {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
    margin-left: 15px;
  }

.content{
    background-color: white;
    width: 60%;
    height: 400px;
    display: flex;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start:-50px;
    animation-range-end:600px;
    margin-bottom: 150px;
    border-radius: 30px;
    box-shadow: 11px 2px 20px 12px #00000057;
}

.contentHeaf{
    background-color: white;
    width: 60%;
    height: 400px;
    display: flex;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start:-50px;
    animation-range-end:600px;
    margin-bottom: 150px;
    border-radius: 30px;
    box-shadow: 11px 2px 20px 12px #00000057;
}


.contentcarby{
    background-color: white;
    width: 60%;
    height: 400px;
    display: flex;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start:-50px;
    animation-range-end:600px;
    margin-bottom: 150px;
    border-radius: 30px;
    box-shadow: 11px 2px 20px 12px #00000057;
}


.mywork{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
padding-top: 80px;}

.bigContainer{
    display: flex;

}



    .text{
        width: 35%;
        height: 100%;
        padding-right: 5%;
        font-family: "Source Code Pro", monospace;
        font-size: 15px;
    }
    .textheaf{
        width: 35%;
        height: 100%;
        padding-left: 5%;
        font-family: "Source Code Pro", monospace;
        font-size: 15px;
    }

    .titleproject{
        font-family: "Lexend";
        font-size: 60px;
        margin: 0px;
    }


  
      .imgretracted{
      
      
        border-radius: 20px;
        margin: 10px;
        width: 180px;
       
      }

      .imgupper{
        display: flex;
        padding:10px;
      
    }
    .title{
        position: absolute;
        top:-15%;
        left:82%;
        font-family: "Lexend";
        font-size: 35px;
        color: white;
      
    }

    .titleheaf{
        position: absolute;
        top:-15%;
        left:6%;
        font-family: "Lexend";
        font-size: 35px;
        color: white;
    }

    @media (max-width: 1300px) {
        .content{
            background-color: white;
            width: 80%;
            height: 500px;
            display: flex;
            padding: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start:-50px;
            animation-range-end:600px;
            margin-bottom: 150px;
            border-radius: 30px;
            box-shadow: 11px 2px 20px 12px #00000057;
        }

        .contentHeaf{

            background-color: white;
            width: 80%;
            height: 500px;
            display: flex;
            padding: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start:-50px;
            animation-range-end:600px;
            margin-bottom: 150px;
            border-radius: 30px;
            box-shadow: 11px 2px 20px 12px #00000057;

        }
        
    .text{
        width: 80%;
        height: 100%;
        padding-right: 5%;
        font-family: "Source Code Pro", monospace;
        font-size: 10px;
        padding-top: 5%;
    }
    .textheaf{
        width: 80%;
        height: 100%;
        padding-left: 5%;
        font-family: "Source Code Pro", monospace;
        font-size: 10px;
        padding-top: 5%;
    }

    .titleproject{
        font-family: "Lexend";
        font-size: 30px;
        margin: 0px;
    }


  
      .imgretracted{
      
      
        border-radius: 10px;
        margin: 10px;
        width: 80px;
       
      }

      .imgupper{
        display: flex;
        padding:10px;
      
    }
    .title{
        position: absolute;
        top:-15%;
        left:60%;
        font-family: "Lexend";
        font-size: 25px;
        color: white;
      
    }

    .titleheaf{
        position: absolute;
        top:-15%;
        left:6%;
        font-family: "Lexend";
        font-size: 25px;
        color: white;
    }
    .contentcarby{
        background-color: white;
        width: 80%;
        height: 500px;
        display: flex;
        padding: 1%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        animation: fade-in linear;
        animation-timeline: view();
        animation-range-start:-50px;
        animation-range-end:600px;
        margin-bottom: 150px;
        border-radius: 30px;
        box-shadow: 11px 2px 20px 12px #00000057;
    }
    
    
    .mywork{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    padding-top: 80px;}
    }